
        
  
        <%- include('header')%>
                 
       
        <h2>Admin vagas:
            <a href="/admin/vagas/nova">Nova Vaga</a>
        </h2>
       <div>
           <ul>
                <% vagas.forEach(vaga => { %>
                <li>
                    <%- vaga.titulo %>
                    <a href="/admin/vagas/delete/<%- vaga.id %>">excluir</a>
                    <a href="/admin/vagas/editar/<%- vaga.id %>">editar</a>
                </li>

           <% })%>            
            </ul>
        </div>
        
   <%- include('footer') %>

